<ion-header titulo="Card">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>Cards</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-subtitle>Hola Lola</ion-card-subtitle>
            <ion-card-title>Lolita</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, quae? Consequatur quae veritatis impedit. Corporis iusto omnis natus ad maxime explicabo! Quos pariatur ipsum ratione iusto adipisci deserunt fugiat atque!
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item color="primary">
            <ion-icon color="light" slot="start" name="pin"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, doloribus alias minus consectetur aperiam suscipit necessitatibus rem sequi asperiores a quasi officia neque quo exercitationem eaque quam! Modi, est corporis.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eveniet, ex hic est incidunt cum veritatis illum repellendus, maiores itaque maxime nisi minima, sint excepturi repellat magni? Totam, debitis ipsam!
        </ion-card-content>
    </ion-card>

</ion-content>